@import "./colors.css";

.HeaderText {
    text-align: left;
    color: var(--text-color);
}
  
.HeaderInlineText {
    display: inline;
    text-align: left;
    color: var(--text-color);
}

.HeaderCenterText {
    text-align: center;
    color: var(--text-color);
}

.Text {
    color: brown;
}

.Skill {
    text-align: center;
    color: var(--text-color);
    border-radius: 5px;
}