.container {
  display: inline-block;
}

.typedOut {
  overflow: hidden;
  border-right: 0.15em solid teal;
  white-space: nowrap;
  animation: typing 6s forwards;
  font-size: 1.6rem;
  width: 0;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.keyword {
  color: blue;
}

.variable {
  color: lightblue;
}

.string {
  color: orange;
}

.class {
  color: green;
}